<form method="post" action="{{ path('demande_delete', {'idd': demande.idd}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ demande.idd) }}">
    <button style="width: auto" class="btn btn-block btn-outline-danger">Supprimer</button>
</form>
