<form method="post" action="{{ path('application_delete', {'idapp': application.idapp}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ application.idapp) }}">
    <button class="btn">Delete</button>
</form>
