{% extends 'Front_navbar_footer.html.twig' %}
{% block body %}
    <section class="padding-y-100 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mx-auto">
                    <div class="card shadow-v2">
                        <div class="card-header border-bottom">
                            <h3 class="mt-4">S'identifier</h3>
                            <p>Tenez-vous au courant des évolutions de notre application professionnel<p>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col my-2">
                                    <button class="btn btn-block btn-facebook">
                                        <i class="ti-facebook mr-1"></i>
                                        <span>Facebook Sign in</span>
                                    </button>
                                </div>
                                <div class="col my-2">
                                    <button class="btn btn-block btn-google-plus">
                                        <i class="ti-google mr-1"></i>
                                        <span>Google Sign in</span>
                                    </button>
                                </div>
                            </div>
                            <p class="text-center my-4">OU</p>
                            <form action="{{ path('verif_Login') }}" method="GET" class="px-lg-4">
                                <div class="input-group input-group--focus mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text bg-white ti-user"></span>
                                    </div>
                                    <input
                                            type="text"
                                            class="form-control border-left-0 pl-0"
                                            placeholder="Login"
                                            name="login"
                                    />
                                </div>
                                <div class="input-group input-group--focus mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text bg-white ti-lock"></span>
                                    </div>
                                    <input
                                            type="password"
                                            class="form-control border-left-0 pl-0"
                                            placeholder="Mot de Passe"
                                            name="mdp"
                                    />
                                </div>
                                <div class="d-md-flex justify-content-between my-4">
                                    <label class="ec-checkbox check-sm my-2 clearfix">
                                        <input type="checkbox" name="checkbox" />
                                        <span class="ec-checkbox__control"></span>
                                        <span class="ec-checkbox__lebel">Remember Me</span>
                                    </label>
                                    <a
                                            href="page-recover-password.html"
                                            class="text-primary my-2 d-block"
                                    >Mot de passe oublié?</a
                                    >
                                </div>
                                <button class="btn btn-block btn-primary">S'identifier</button>
                                <p class="my-5 text-center">
                                    Vous n'avez pas de compte ?
                                    <a href="{{ path('signup') }}" class="text-primary">Créer un Compte</a>
                                </p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END row-->
        </div>
        <!-- END container-->
    </section>
{% endblock %}